body {
    font-family: 'Inter', sans-serif;
}

#TicTacToeRedirBtn, #SnakeRedirBtn, #TetrisRedirBtn, #resetButton {
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
}

#TicTacToeRedirBtn:hover, #SnakeRedirBtn:hover, #TetrisRedirBtn:hover, #resetButton:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: center;
}

.grid-item {
    border: 1px solid black;
    padding: 40px;
    font-size: 50px;
    height: 57px;
    width: 40px;
}

.grid-item {
    border-radius: 0px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    .grid-item {
        border: 1px solid white;
    }

    .buttons1 {
        background-color: #252525;
        color: white;
    }
}