body {
    font-family: 'Inter', sans-serif;
}

#TicTacToeRedirBtn, #SnakeRedirBtn, #TetrisRedirBtn {
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
}

#TicTacToeRedirBtn:hover, #SnakeRedirBtn:hover, #TetrisRedirBtn:hover {
    cursor: pointer;
}